body {
	overflow-x: hidden;
}
img {
    width: 100%;
}

h1 {
	font-size: 80px;
}

h2 {
	font-size: 60px;
}

@media only screen and (max-width: 600px) {
  .col {
    display: block;
    width: 100%;
  }
}

.img-fluid {
    height: 70vh;
}